<!--The content below is only a placeholder and can be replaced.-->
    <h2 align="center" style="color:black">WEATHER FORCAST</h2>

<div class="location" style="color:black">
  <br/>
  
<input [(ngModel)]="city" placeholder="Enter The City"/>
<button (click)="getData()">Search Weather</button>
</div>
<br/>
<br/>
<div class="weather-forecast" role="main" style="color: black" >
    <div class="location">{{forecast.city.name}},{{forecast.city.country}}</div>
    <div class="current">
      <div class="visual">
        <div><img src="{{url}}"/></div>
        <div class="temp">{{temp}}</div>
        <div class="scale">°F</div>
      </div>
      <div class="description">
        <div class="temp">{{comment}}</div>
        <br>
        <div class="temp">{{pressure}} Bar</div>
      </div>
    </div>
    <br/>
    <br/>
    <div class="seven-day" >
      <div class="seven-day-fc" *ngFor="let data of dayList">
    
          <app-weather [data]="data"></app-weather>
        
      </div>
      
    </div>
  </div>
<router-outlet></router-outlet>
